<header class="l-header">
  <!-- SNS/検索 -->
  <div class="l-header__top">
		<div class="l-header__topInner">
			<ul class="l-header__topList">
				<li class="l-header__topItem">
					<a href="#">
            <img src="./assets/images/header/mail.png" alt="メルマガ">
					</a>
				</li>
				<li class="l-header__topItem">
					<a href="#">
            <img src="./assets/images/footer/fb.png" alt="Facebook">
					</a>
				</li>
				<li class="l-header__topItem">
					<a href="#">
            <img src="./assets/images/footer/snsIcon.png" alt="sns">
					</a>
				</li>
        <li class="l-header__topSearch">
					<form method="get">
						<input type="hidden" name="_e_k" value="Ａ">
						<input type="text" name="keyword" id="keyword" placeholder="Let's searching!">
						<input type="image" name="search_btn" src="./assets/images/header/search.png" alt="検索">
						<input type="hidden" name="nostock" value="false">
					</form>
				</li>
			</ul>
		</div>
  </div>

	<!-- ヘッダメニュー -->
	<div class="l-header__bottom">
		<div class="l-header__bottomInner">
			<div class="l-header__bottomLogo">
				<div class="l-header__bottomLogoWrap">
          <div class="l-header__bottomLogoText">soulcherry</div>
				</div>
      </div>
			<div class="l-header__bottomNav">
				<div class="l-header__bottomNavInner">
					<ul class="l-header__bottomMenu">
						<li class="l-header__bottomSearch">
							<a href="javascript:void(0)" class="l-header__searchTrriger">
                アイテム
              </a>
              <div class="l-header__bottomSearchMenu">
                <ul class="l-header__bottomSearchList">
									<li>
                    <a href="#">
                      <img src="./assets/images/notice.png" alt="メルマガ">
                      <p>新作</p>
                    </a>
                  </li>
									<li>
                    <a href="#">
                      <img src="./assets/images/notice.png" alt="メルマガ">
                      <p>すべて見る</p>
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <img src="./assets/images/notice.png" alt="メルマガ">
                      <p>ピカイチ</p>
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <img src="./assets/images/notice.png" alt="メルマガ">
                      <p>アウター</p>
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <img src="./assets/images/notice.png" alt="メルマガ">
                      <p>トップス</p>
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <img src="./assets/images/notice.png" alt="メルマガ">
                      <p>ブラウス・シャツ</p>
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <img src="./assets/images/notice.png" alt="メルマガ">
                      <p>ニット</p>
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <img src="./assets/images/notice.png" alt="メルマガ">
                      <p>ベスト</p>
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <img src="./assets/images/notice.png" alt="メルマガ">
                      <p>ボトムス・スカート</p>
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <img src="./assets/images/notice.png" alt="メルマガ">
                      <p>セットアップ</p>
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <img src="./assets/images/notice.png" alt="メルマガ">
                      <p>ワンピース</p>
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <img src="./assets/images/notice.png" alt="メルマガ">
                      <p>靴・雑貨</p>
                    </a>
                  </li>
								</ul>
							</div>
						</li>
						<li class="l-header__bottomItem">
							<a href="#">バザール</a>
            </li>
            <li class="l-header__bottomItem">
							<a href="#">コラム</a>
            </li>
            <li class="l-header__bottomItem">
							<a href="#">コーディネート</a>
            </li>
            <li class="l-header__bottomItem">
							<a href="#">お買い物ガイド</a>
            </li>
						<li class="l-header__bottomMember">
							<a href="#">
                <img src="./assets/images/header/member.png" alt="会員登録">
              </a>
							<div class="l-header__memberPopUp">
								<div class="l-header__loginWrap">
                  <div class="l-header__PopUpTriangle">
									<a href="#">ログイン</a>
                  <a>/</a>
									<a href="#">会員登録</a>
								</div>
							</div>
						</li>
						<li class="l-header__bottomCart">
              <a href="#">
                <img src="./assets/images/header/cart.png" alt="カート">
              </a>
            </li>
						<li class="l-header__bottomFavorite">
              <a href="#">
                <img src="./assets/images/header/fav.png" alt="お気に入り">
              </a>
            </li>
					</ul>
				</div>
			</div>
		</div>
    <div class="l-header__bottomInnerMB">
      <div class="p-header__trigger">
        <span></span>
        <span></span>
        <span></span>
      </div>
      <div class="p-header__spmenu">
        <div class="p-header__spmenuInner">
          <ul class="p-header__spmenuList">
            <li class="p-header__guest">
              <p>ゲスト様</p>
              <p>pt</p>
            </li>
            <li class="p-header__login">
              <a href="#">
                <p>ログイン</p>
              </a>
              <a href="#">
                <p>会員登録</p>
              </a>
            </li>
            <li class="p-header__menu">
              <div class="p-search__itemTitle">
                <p>● メニュー</p>
              </div>
              <ul class="p-header__menuIndexList">
                <li class="p-header__menuIndex">
                  <a href="#">
                    <p>企画</p>
                  </a>
                </li>
                <li class="p-header__menuIndex">
                  <a href="#">
                    <p>読み物</p>
                  </a>
                </li>
                <li class="p-header__menuIndex">
                  <a href="#">
                    <p>コーデ部屋</p>
                  </a>
                </li>
                <li class="p-header__menuIndex">
                  <a href="#">
                    <p>お買い物ガイド</p>
                  </a>
                </li>
              </ul>
            </li>
            <div class="p-search__item">
              <div class="p-search__itemTitle">
                <p>● アイテムから探す</p>
              </div>
              <div class="p-search__itemWrap">
                <ul>
                  <li>
                    <a href="#">
                      <img src="./assets/images/search/arrival.png" alt="新作">
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <img src="./assets/images/search/all.png" alt="すべて">
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <img src="./assets/images/search/outer.png" alt="アウター">
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <img src="./assets/images/search/tops.png" alt="トップス">
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <img src="./assets/images/search/shirt.png" alt="シャツ">
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <img src="./assets/images/search/knit.png" alt="ニット">
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <img src="./assets/images/search/vest.png" alt="ベスト">
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <img src="./assets/images/search/pants.png" alt="パンツ">
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <img src="./assets/images/search/setup.png" alt="セットアップ">
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <img src="./assets/images/search/shoesItem.png" alt="くつ/雑貨">
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <img src="./assets/images/search/sale.png" alt="セール">
                    </a>
                  </li>
                </ul>
              </div>
            </div>
            <div class="p-search__size">
              <div class="p-search__itemTitle">
                <p>● サイズから探す</p>
              </div>
              <div class="p-search__sizeWrap">
                <ul>
                  <li>
                    <a href="#">
                      <p>S</p>
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <p>M</p>
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <p>L</p>
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <p>LL</p>
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <p>3L</p>
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <p>4L</p>
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <p>5L</p>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </ul>
        </div>
      </div>
      <ul class="l-header__bottomNavMB">
        <li class="l-header__bottomCartMB">
          <a href="#">
            <img src="./assets/images/header/cart.png" alt="カート">
          </a>
        </li>
        <li class="l-header__bottomFavoriteMB">
          <a href="#">
            <img src="./assets/images/header/fav.png" alt="お気に入り">
          </a>
        </li>
      </ul>
      <div class="back"></div>
    </div>
  </div>
</header>