.c-more {
  width: 120px;
  margin: 0 0 0 auto;

  &__preorder {
    position: absolute;
    width: 120px;
    right: 5vw;
    z-index: 10;
  }
  &__preorder img {
    width: 100%;
  }
}
.c-more img {
  width: 100%;
}

@media only screen and (max-width: 549px) {
  .c-more {
    width: 100px;
    margin: 0 0 0 auto;

    &__preorder {
      position: absolute;
      width: 100px;
      right: 5vw;
      z-index: 10;
    }
  }
}