.l-main {
  &__topInfo {
    width: 1024px;
    margin: 0 auto;
  }
  &__infoList {
    padding: 0;
    margin: 0;
    list-style: none;
  }
  &__infoWrap {
    margin: 20px auto 10px 0;
  }
  &__infoWrap a {
    padding-left: 10px;
    display: inline-block;
    position: relative;
    font-size: 1.5rem;
    line-height: 1.2;
    &::before {
      content: "";
      width: 20px;
      height: 20px;
      display: inline-block;
      background: url('#{$bgPath}/info.png') 0 0 no-repeat;
      background-size: cover;
      position: absolute;
      top: 50%;
      left: 0;
      margin-top: -10px;
    }
    &:hover {
      opacity: 0.6;
      border-bottom: 1px solid #000;
    }
  }
  &__infoWrap span {
    margin-left: 15px;
  }
  &__bazar {
    display: block;
    width: 1024px;
    margin: 0 auto 20px;
    &:hover {
      opacity: 0.6;
    }
  }
  &__bazar a {
    display: flex;
    margin: 0 0 0 auto;
    width: 230px;
    border-bottom: #292929 dotted;
  }
  &__bazar span {
    font-size: 20px;
    margin: 4px 2px 0;
  }
  &__bazarIcon {
    width: 35px;
    height: 35px;
  }
  &__bazarArrow {
    width: 18px;
    height: 25px;
    margin-left: 10px;
    margin-top: 5px;
  }
}

@media only screen and (max-width: 1023px) {
  .l-main {
    &__topInfo {
    width: 82vw;
    }
    &__bazar {
      width: 82vw;
    }
  }
}

@media only screen and (max-width: 699px) {
  .l-main {
    &__topInfo {
      width: 92vw;
    }
    &__infoList {
      margin-bottom: 13px;
    }
    &__infoWrap {
      margin: 13px auto 0;
      &:nth-child(2) {
        margin: 7px auto 0;
      }
    }
    &__infoWrap span {
      margin-left: 15px;
    }
    &__bazar {
      display: none;
    }
  }
}