<% var title = "soulcherry"; var description = "洋服で幸福を。soulcherry"; %>
<% include src/ejs/template/_head %>

<% include src/ejs/template/_header %>

<main class="l-main">
  <div class="l-main__topInfo">
    <ul class="l-main__infoList">
      <li class="l-main__infoWrap">
        <a href="#">
          <span>「年末年始の営業について」</span>
        </a>
      </li>
      <li class="l-main__infoWrap">
        <a href="#">
          <span>「歳末セール商品の配送について」</span>
        </a>
      </li>
    </ul>
  </div>
  <div class="l-main__bazar">
    <a href="#">
      <img class="l-main__bazarIcon" src="./assets/images/bazar.png" alt="バザール">
      <span>掘り出しバザール</span>
      <img class="l-main__bazarArrow" src="./assets/images/next.png" alt="next">
    </a>
  </div>

  <div class="p-timeline">
    <div class="p-timeline__main">
      <a href="#">
        <img class="p-timeline__mainPic" src="./assets/images/knit-woman.jpg" alt="ニット">
      </a>
    </div>
    <div class="p-timeline__sub">
      <div class="p-p-timeline__subWrap">
        <ul class="p-timeline__subList">
          <li class="p-timeline__subItemWrap">
            <a href="#">
              <img class="p-timeline__subPic" src="./assets/images/jeans.jpg" alt="ジーンズ">
            </a>
            <div class="p-timeline__tagList">
              <div class="p-timeline__tag">アイテム</div>
              <div class="p-timeline__date">2021.12.30</div>
            </div>
          </li>
          <li class="p-timeline__subItemWrap">
            <a href="#">
              <img class="p-timeline__subPic" src="./assets/images/jeans.jpg" alt="ジーンズ">
            </a>
            <div class="p-timeline__tagList">
              <div class="p-timeline__tag">アイテム</div>
              <div class="p-timeline__date">2021.12.30</div>
            </div>
          </li>
          <li class="p-timeline__subItemWrap">
            <a href="#">
              <img class="p-timeline__subPic" src="./assets/images/jeans.jpg" alt="ジーンズ">
            </a>
            <div class="p-timeline__tagList">
              <div class="p-timeline__tag">アイテム</div>
              <div class="p-timeline__date">2021.12.30</div>
            </div>
          </li>
          <li class="p-timeline__subItemWrap">
            <a href="#">
              <img class="p-timeline__subPic" src="./assets/images/jeans.jpg" alt="ジーンズ">
            </a>
            <div class="p-timeline__tagList">
              <div class="p-timeline__tag">アイテム</div>
              <div class="p-timeline__date">2021.12.30</div>
            </div>
          </li>
        </ul>
      </div>
    </div>
    <div class="c-btn__quare">
      <a href="#">もっとみる</a>
    </div>
  </div>

  <div class="p-new">
    <div class="p-new__title">
      <img src="./assets/images/new.png" alt="新作">
    </div>
    <div class="p-new__slider">
      <div class="p-new__slideItem">
        <div class="p-new__slideItemPC">
          <ul>
            <li>
              <a href="#">
                <img src="./assets/images/coat.jpg" alt="コート">
                <div>
                  「ゆったり軽やかな毎日を」
                  <br>
                  淡色さらっとコート
                </div>
              </a>
            </li>
            <li>
              <a href="#">
                <img src="./assets/images/coat.jpg" alt="コート">
                <div>
                  「ゆったり軽やかな毎日を」
                  <br>
                  淡色さらっとコート
                </div>
              </a>
            </li>
            <li>
              <a href="#">
                <img src="./assets/images/coat.jpg" alt="コート">
                <div>
                  「ゆったり軽やかな毎日を」
                  <br>
                  淡色さらっとコート
                </div>
              </a>
            </li>
            <li>
              <a href="#">
                <img src="./assets/images/coat.jpg" alt="コート">
                <div>
                  「ゆったり軽やかな毎日を」
                  <br>
                  淡色さらっとコート
                </div>
              </a>
            </li>
            <li>
              <a href="#">
                <img src="./assets/images/coat.jpg" alt="コート">
                <div>
                  「ゆったり軽やかな毎日を」
                  <br>
                  淡色さらっとコート
                </div>
              </a>
            </li>
            <li>
              <a href="#">
                <img src="./assets/images/coat.jpg" alt="コート">
                <div>
                  「ゆったり軽やかな毎日を」
                  <br>
                  淡色さらっとコート
                </div>
              </a>
            </li>
          </ul>
        </div>
        <div class="p-new__slideItemPC">
          <ul>
            <li>
              <a href="#">
                <img src="./assets/images/coat.jpg" alt="コート">
                <div>
                  「ゆったり軽やかな毎日を」
                  <br>
                  淡色さらっとコート
                </div>
              </a>
            </li>
            <li>
              <a href="#">
                <img src="./assets/images/coat.jpg" alt="コート">
                <div>
                  「ゆったり軽やかな毎日を」
                  <br>
                  淡色さらっとコート
                </div>
              </a>
            </li>
            <li>
              <a href="#">
                <img src="./assets/images/coat.jpg" alt="コート">
                <div>
                  「ゆったり軽やかな毎日を」
                  <br>
                  淡色さらっとコート
                </div>
              </a>
            </li>
            <li>
              <a href="#">
                <img src="./assets/images/coat.jpg" alt="コート">
                <div>
                  「ゆったり軽やかな毎日を」
                  <br>
                  淡色さらっとコート
                </div>
              </a>
            </li>
            <li>
              <a href="#">
                <img src="./assets/images/coat.jpg" alt="コート">
                <div>
                  「ゆったり軽やかな毎日を」
                  <br>
                  淡色さらっとコート
                </div>
              </a>
            </li>
            <li>
              <a href="#">
                <img src="./assets/images/coat.jpg" alt="コート">
                <div>
                  「ゆったり軽やかな毎日を」
                  <br>
                  淡色さらっとコート
                </div>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="p-new__sliderTAB">
      <div class="p-new__slideItemTAB">
        <div>
          <ul>
            <li>
              <a href="#">
                <img src="./assets/images/coat.jpg" alt="コート">
                <div>
                  「ゆったり軽やかな毎日を」
                  <br>
                  淡色さらっとコート
                </div>
              </a>
            </li>
            <li>
              <a href="#">
                <img src="./assets/images/coat.jpg" alt="コート">
                <div>
                  「ゆったり軽やかな毎日を」
                  <br>
                  淡色さらっとコート
                </div>
              </a>
            </li>
            <li>
              <a href="#">
                <img src="./assets/images/coat.jpg" alt="コート">
                <div>
                  「ゆったり軽やかな毎日を」
                  <br>
                  淡色さらっとコート
                </div>
              </a>
            </li>
            <li>
              <a href="#">
                <img src="./assets/images/coat.jpg" alt="コート">
                <div>
                  「ゆったり軽やかな毎日を」
                  <br>
                  淡色さらっとコート
                </div>
              </a>
            </li>
          </ul>
        </div>
        <div>
          <ul>
            <li>
              <a href="#">
                <img src="./assets/images/coat.jpg" alt="コート">
                <div>
                  「ゆったり軽やかな毎日を」
                  <br>
                  淡色さらっとコート
                </div>
              </a>
            </li>
            <li>
              <a href="#">
                <img src="./assets/images/coat.jpg" alt="コート">
                <div>
                  「ゆったり軽やかな毎日を」
                  <br>
                  淡色さらっとコート
                </div>
              </a>
            </li>
            <li>
              <a href="#">
                <img src="./assets/images/coat.jpg" alt="コート">
                <div>
                  「ゆったり軽やかな毎日を」
                  <br>
                  淡色さらっとコート
                </div>
              </a>
            </li>
            <li>
              <a href="#">
                <img src="./assets/images/coat.jpg" alt="コート">
                <div>
                  「ゆったり軽やかな毎日を」
                  <br>
                  淡色さらっとコート
                </div>
              </a>
            </li>
          </ul>
        </div>
        <div>
          <ul>
            <li>
              <a href="#">
                <img src="./assets/images/coat.jpg" alt="コート">
                <div>
                  「ゆったり軽やかな毎日を」
                  <br>
                  淡色さらっとコート
                </div>
              </a>
            </li>
            <li>
              <a href="#">
                <img src="./assets/images/coat.jpg" alt="コート">
                <div>
                  「ゆったり軽やかな毎日を」
                  <br>
                  淡色さらっとコート
                </div>
              </a>
            </li>
            <li>
              <a href="#">
                <img src="./assets/images/coat.jpg" alt="コート">
                <div>
                  「ゆったり軽やかな毎日を」
                  <br>
                  淡色さらっとコート
                </div>
              </a>
            </li>
            <li>
              <a href="#">
                <img src="./assets/images/coat.jpg" alt="コート">
                <div>
                  「ゆったり軽やかな毎日を」
                  <br>
                  淡色さらっとコート
                </div>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="c-more">
      <a href="#">
        <img src="./assets/images/more.png" alt="新作をもっと見る">
      </a>
    </div>
  </div>

  <section>
    <div class="p-preorder">
      <div class="p-preorder__wrap">
        <div class="p-preorder__titleWrap">
          <div class="p-preorder__title">
            <img src="./assets/images/PCpreorder.png" alt="予約・再入荷">
          </div>
        </div>
        <div class="p-preorder__titleWrapMB">
          <div class="p-preorder__titleMB">
            <img src="./assets/images/MBpreorder.png" alt="予約・再入荷">
          </div>
        </div>
        <div class="p-preorder__itemWrap">
          <div class="p-preorder__slider">
            <div class="p-preorder__slideItem">
              <ul>
                <li>
                  <a href="#">
                    <img src="./assets/images/jeans.jpg" alt="ジーンズ">
                    <div>
                      ブーツインでこなれ感を演出
                      <br>
                      スッキリな履きこなしを楽しむデニム
                    </div>
                  </a>
                </li>
                <li>
                  <a href="#">
                    <img src="./assets/images/jeans.jpg" alt="ジーンズ">
                    <div>
                      ブーツインでこなれ感を演出
                      <br>
                      スッキリな履きこなしを楽しむデニム
                    </div>
                  </a>
                </li>
              </ul>
            </div>
          </div>
          <div class="c-more__preorder">
            <a href="#">
              <img src="./assets/images/more.png" alt="予約・再入荷をもっと見る">
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section>
    <div class="p-play">
      <div class="p-play__calendarWrap">
        <div class="p-play__calendar">
          <div class="p-play__calendarTitle">
            <img src="./assets/images/calendar.png" alt="日めくり">
            <p class="p-play__calendarDate">
              <span class="p-play__date">12/31</span>
              <span class="p-play__day">FRI</span>
            </p>
          </div>
          <div class="p-play__calendarContents">
            <a href="#">
              <img src="./assets/images/coat.jpg" alt="コート">
            </a>
          </div>
          <div class="c-btn__quare">
            <a href="#">コーデ部屋へ</a>
          </div>
        </div>
      </div>
      <div class="p-play__right">
        <div class="p-play__omikujiWrap">
          <a href="#" class="p-play__omikuji">
            <img src="./assets/images/omikuji.png" alt="おみくじ">
          </a>
        </div>
        <div class="p-play__wordWrap">
          <div class="p-play__wordTitle">
            <p>#言の葉おきば</p>
          </div>
          <div class="p-play__word">
            <ul class="p-play__wordList">
              <li>
                <a href="#">
                  <div class="p-play__wordTagInner">
                    <p>#気分がアガるハッピーワンピ</p>
                  </div>
                </a>
              </li>
              <li>
                <a href="#">
                  <div class="p-play__wordTagInner">
                    <p>#人気コーデ集合！</p>
                  </div>
                </a>
              </li>
              <li>
                <a href="#">
                  <div class="p-play__wordTagInner">
                    <p>#冬のさし色</p>
                  </div>
                </a>
              </li>
              <li>
                <a href="#">
                  <div class="p-play__wordTagInner">
                    <p>#今冬人気のチェック、どう着こなす？</p>
                  </div>
                </a>
              </li>
              <li>
                <a href="#">
                  <div class="p-play__wordTagInner">
                    <p>#みんなが見ている注目TOPIC</p>
                  </div>
                </a>
              </li>
              <li>
                <a href="#">
                  <div class="p-play__wordTagInner">
                    <p>#掘り出しもの、続々追加！</p>
                  </div>
                </a>
              </li>
              <li class="hide">
                <a href="#">
                  <div class="p-play__wordTagInner">
                    <p>#冬はとにかく暖かく！コート特集</p>
                  </div>
                </a>
              </li>
              <li class="hide">
                <a href="#">
                  <div class="p-play__wordTagInner">
                    <p>#ワントーンコーデの匠</p>
                  </div>
                </a>
              </li>
              <li class="hide">
                <a href="#">
                  <div class="p-play__wordTagInner">
                    <p>#お子さんがいる方へオススメ</p>
                  </div>
                </a>
              </li>
              <li class="hide">
                <a href="#">
                  <div class="p-play__wordTagInner">
                    <p>#コーデ別、マスク色の合わせ方</p>
                  </div>
                </a>
              </li>
            </ul>
            <div class="p-play__wordMore">
              <a href="javascript:void(0)">
                <img src="./assets/images/moreArrow.png" alt="もっと見る">
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section>
    <div class="p-pickup">
      <div class="p-pickup__inner">
        <div class="p-pickup__title">
          <img src="./assets/images/pickup.png" alt="ピックアップ">
        </div>
      </div>
      <div class="p-pickup__list">
        <ul>
          <li>
            <a href="#">
              <div class="p-pickup__frame">
              </div>
              <div class="p-pickup__item">
                <img src="./assets/images/mens.jpg" alt="ピックアップ">
              </div>
            </a>
          </li>
          <li>
            <a href="#">
              <div class="p-pickup__frame">
              </div>
              <div class="p-pickup__item">
                <img src="./assets/images/mens.jpg" alt="ピックアップ">
              </div>
            </a>
          </li>
          <li>
            <a href="#">
              <div class="p-pickup__frame">
              </div>
              <div class="p-pickup__item">
                <img src="./assets/images/mens.jpg" alt="ピックアップ">
              </div>
            </a>
          </li>
          <li>
            <a href="#">
              <div class="p-pickup__frame">
              </div>
              <div class="p-pickup__item">
                <img src="./assets/images/mens.jpg" alt="ピックアップ">
              </div>
            </a>
          </li>
          <li>
            <a href="#">
              <div class="p-pickup__frame">
              </div>
              <div class="p-pickup__item">
                <img src="./assets/images/mens.jpg" alt="ピックアップ">
              </div>
            </a>
          </li>
        </ul>
      </div>
    </div>

    <div class="p-pickupTAB">
      <div class="p-pickupTAB__inner">
        <div class="p-pickupTAB__title">
          <img src="./assets/images/pickup.png" alt="ピックアップ">
        </div>
      </div>
        <div class="p-pickupTAB__list">
          <ul class="p-pickupTAB__slider">
            <li>
              <a href="#">
                <div class="p-pickupTAB__frame">
                </div>
                <div class="p-pickupTAB__item">
                  <img src="./assets/images/mens.jpg" alt="ピックアップ">
                </div>
              </a>
            </li>
            <li>
              <a href="#">
                <div class="p-pickupTAB__frame">
                </div>
                <div class="p-pickupTAB__item">
                  <img src="./assets/images/mens.jpg" alt="ピックアップ">
                </div>
              </a>
            </li>
            <li>
              <a href="#">
                <div class="p-pickupTAB__frame">
                </div>
                <div class="p-pickupTAB__item">
                  <img src="./assets/images/mens.jpg" alt="ピックアップ">
                </div>
              </a>
            </li>
            <li>
              <a href="#">
                <div class="p-pickupTAB__frame">
                </div>
                <div class="p-pickupTAB__item">
                  <img src="./assets/images/mens.jpg" alt="ピックアップ">
                </div>
              </a>
            </li>
            <li>
              <a href="#">
                <div class="p-pickupTAB__frame">
                </div>
                <div class="p-pickupTAB__item">
                  <img src="./assets/images/mens.jpg" alt="ピックアップ">
                </div>
              </a>
            </li>
          </ul>
        </div>
    </div>
  </section>

  <section>
    <div class="p-cosales">
      <div class="p-cosales__title">
        <img src="./assets/images/cosales.png" alt="社販">
      </div>
      <div class="p-cosales__theme">
        <div class="p-cosales__themeWrap">
          <div class="p-cosales__themeTitle">
            <p>足元からときめく。</p>
          </div>
          <div class="p-cosales__themeNum">
            <p>Part.22  2022.1.5</p>
          </div>
          <div class="p-cosales__themeComment">
            <p>今回は足元にフォーカス！お気に入りの靴や靴下アイテムをお届けします！</p>
          </div>
        </div>
      </div>
    </div>
    <div class="p-cosales__contents">
      <div class="p-cosales__rank">
        <div class="p-cosales__no1">
          <div class="p-cosales__itemWrap1">
            <div class="p-cosales__itemBorder">
              <div class="p-cosales__item">
                <a href="#">
                  <img src="./assets/images/shoes.jpg" alt="社販アイテム">
                </a>
              </div>
            </div>
          </div>
          <div class="p-cosales__itemText1">
            <div class="p-cosales__itemRank1">
              <img src="./assets/images/rank1.png" alt="1位">
            </div>
            <div class="p-cosales__itemTitle1">
              <p>シブい革靴</p>
            </div>
            <div class="p-cosales__itemDesc1">
              <p>
                ジーンズと合わせたい定番革靴！
                <br>
                一緒に過ごした分だけ深い色になります◎
                <br>
                靴紐の色がアクセントに。
              </p>
            </div>
          </div>
        </div>
        <div class="p-cosales__line"></div>
        <div class="p-cosales__no23">
          <div class="p-cosales__no2">
            <div class="p-cosales__itemRank">
              <img src="./assets/images/rank2.png" alt="2位">
            </div>
            <div class="p-cosales__itemBorder">
              <div class="p-cosales__item">
                <a href="#">
                  <img src="./assets/images/shoes.jpg" alt="社販アイテム">
                </a>
              </div>
            </div>
            <div class="p-cosales__itemTitle">
              <p>シブい革靴</p>
            </div>
            <div class="p-cosales__itemDesc">
              <p>
                ジーンズと合わせたい定番革靴！
                <br>
                履いただけ深い色になります◎
                <br>
                靴紐の色がアクセントに。
              </p>
            </div>
          </div>
          <div class="p-cosales__no23Border"></div>
          <div class="p-cosales__no3">
            <div class="p-cosales__itemRank">
              <img src="./assets/images/rank3.png" alt="3位">
            </div>
            <div class="p-cosales__itemBorder">
              <div class="p-cosales__item">
                <a href="#">
                  <img src="./assets/images/shoes.jpg" alt="社販アイテム">
                </a>
              </div>
            </div>
            <div class="p-cosales__itemTitle">
              <p>シブい革靴</p>
            </div>
            <div class="p-cosales__itemDesc">
              <p>
                ジーンズと合わせたい定番革靴！
                <br>
                履いただけ深い色になります◎
                <br>
                靴紐の色がアクセントに。
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <div class="p-book">
    <div class="p-book__topWrap">
      <div class="p-book__top">
        <div class="p-book__topInner">
          <div class="p-book__topTriangle"></div>
        </div>
      </div>
    </div>
    <div class="p-book__middleWrap">
      <div class="p-book__middle">
        <div class="p-book__left">
          <div class="p-book__title">
            <img src="./assets/images/bookTitle.png" alt="書庫">
          </div>
          <div class="p-book__themeWrap">
            <div class="p-book__theme">
              <div class="p-book__themeTitle">
                <p>THEME:</p>
              </div>
              <div class="p-book__themeText">
                <div class="p-book__themeTextInner">
                  おうちでのんびり
                  <br>
                  冬の巣ごもり特集
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="p-book__right">
          <div class="p-book__itemTop">
            <div class="p-book__border">
              <img src="./assets/images/dashed.png" alt="二重線">
            </div>
            <div class="p-book__item">
              <a href="#">
                <img src="./assets/images/family.jpg" alt="二重線">
              </a>
            </div>
          </div>
          <div class="p-book__itemMiddle">
            <div class="p-book__border">
              <img src="./assets/images/dashed.png" alt="二重線">
            </div>
            <div class="p-book__item">
              <a href="#">
                <img src="./assets/images/family.jpg" alt="二重線">
              </a>
            </div>
          </div>
          <div class="p-book__itemBottom">
            <div class="p-book__border">
              <img src="./assets/images/dashed.png" alt="二重線">
            </div>
            <div class="p-book__item">
              <a href="#">
                <img src="./assets/images/family.jpg" alt="二重線">
              </a>
            </div>
          </div>
          <div class="p-book__border">
            <img src="./assets/images/dashed.png" alt="二重線">
          </div>
          <div class="c-more">
            <a href="#">
              <img src="./assets/images/more.png" alt="読み物をもっと見る">
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="p-book__bottomWrap">
      <div class="p-book__bottom">
        <div class="p-book__bottomInner">
          <div class="p-book__bottomTriangle"></div>
        </div>
      </div>
    </div>
  </div>

  <section>
    <div class="p-insta">
      <div class="p-insta__title">
        <img src="./assets/images/instaTitle.png" alt="Instagram">
      </div>
      <div class="p-insta__btn">
        <a href="#">→ @soulcherry_web</a>
      </div>
      <div class="p-insta__list">
        <ul>
          <li>
            <a href="#">
              <div class="p-insta__item">
                <img src="./assets/images/knit-woman.jpg" alt="ニット">
                <div class="p-insta__mask">
                  <div class="p-insta__caption">#あったかカーディガン #自然派ニット #重ね着マスター #soulcherry</div>
                </div>
              </div>
            </a>
          </li>
          <li>
            <a href="#">
              <div class="p-insta__item">
                <img src="./assets/images/knit-woman.jpg" alt="ニット">
                <div class="p-insta__mask">
                  #あったかカーディガン #自然派ニット #重ね着マスター #soulcherry
                </div>
              </div>
            </a>
          </li>
          <li>
            <a href="#">
              <div class="p-insta__item">
                <img src="./assets/images/knit-woman.jpg" alt="ニット">
                <div class="p-insta__mask">
                  #あったかカーディガン #自然派ニット #重ね着マスター #soulcherry
                </div>
              </div>
            </a>
          </li>
          <li>
            <a href="#">
              <div class="p-insta__item">
                <img src="./assets/images/knit-woman.jpg" alt="ニット">
                <div class="p-insta__mask">
                  #あったかカーディガン #自然派ニット #重ね着マスター #soulcherry
                </div>
              </div>
            </a>
          </li>
          <li>
            <a href="#">
              <div class="p-insta__item">
                <img src="./assets/images/knit-woman.jpg" alt="ニット">
                <div class="p-insta__mask">
                  #あったかカーディガン #自然派ニット #重ね着マスター #soulcherry
                </div>
              </div>
            </a>
          </li>
          <li>
            <a href="#">
              <div class="p-insta__item">
                <img src="./assets/images/knit-woman.jpg" alt="ニット">
                <div class="p-insta__mask">
                  #あったかカーディガン #自然派ニット #重ね着マスター #soulcherry
                </div>
              </div>
            </a>
          </li>
          <li>
            <a href="#">
              <div class="p-insta__item">
                <img src="./assets/images/knit-woman.jpg" alt="ニット">
                <div class="p-insta__mask">
                  #あったかカーディガン #自然派ニット #重ね着マスター #soulcherry
                </div>
              </div>
            </a>
          </li>
          <li>
            <a href="#">
              <div class="p-insta__item">
                <img src="./assets/images/knit-woman.jpg" alt="ニット">
                <div class="p-insta__mask">
                  #あったかカーディガン #自然派ニット #重ね着マスター #soulcherry
                </div>
              </div>
            </a>
          </li>
        </ul>
      </div>
      <div class="p-insta__listTAB">
        <ul>
          <li>
            <a href="#">
              <div class="p-insta__item">
                <img src="./assets/images/knit-woman.jpg" alt="ニット">
                <div class="p-insta__mask">
                  #あったかカーディガン #自然派ニット #重ね着マスター #soulcherry
                </div>
              </div>
            </a>
          </li>
          <li>
            <a href="#">
              <div class="p-insta__item">
                <img src="./assets/images/knit-woman.jpg" alt="ニット">
                <div class="p-insta__mask">
                  #あったかカーディガン #自然派ニット #重ね着マスター #soulcherry
                </div>
              </div>
            </a>
          </li>
          <li>
            <a href="#">
              <div class="p-insta__item">
                <img src="./assets/images/knit-woman.jpg" alt="ニット">
                <div class="p-insta__mask">
                  #あったかカーディガン #自然派ニット #重ね着マスター #soulcherry
                </div>
              </div>
            </a>
          </li>
          <li>
            <a href="#">
              <div class="p-insta__item">
                <img src="./assets/images/knit-woman.jpg" alt="ニット">
                <div class="p-insta__mask">
                  #あったかカーディガン #自然派ニット #重ね着マスター #soulcherry
                </div>
              </div>
            </a>
          </li>
          <li>
            <a href="#">
              <div class="p-insta__item">
                <img src="./assets/images/knit-woman.jpg" alt="ニット">
                <div class="p-insta__mask">
                  #あったかカーディガン #自然派ニット #重ね着マスター #soulcherry
                </div>
              </div>
            </a>
          </li>
          <li>
            <a href="#">
              <div class="p-insta__item">
                <img src="./assets/images/knit-woman.jpg" alt="ニット">
                <div class="p-insta__mask">
                  #あったかカーディガン #自然派ニット #重ね着マスター #soulcherry
                </div>
              </div>
            </a>
          </li>
          <li>
            <a href="#">
              <div class="p-insta__item">
                <img src="./assets/images/knit-woman.jpg" alt="ニット">
                <div class="p-insta__mask">
                  #あったかカーディガン #自然派ニット #重ね着マスター #soulcherry
                </div>
              </div>
            </a>
          </li>
          <li>
            <a href="#">
              <div class="p-insta__item">
                <img src="./assets/images/knit-woman.jpg" alt="ニット">
                <div class="p-insta__mask">
                  #あったかカーディガン #自然派ニット #重ね着マスター #soulcherry
                </div>
              </div>
            </a>
          </li>
          <li>
            <a href="#">
              <div class="p-insta__item">
                <img src="./assets/images/knit-woman.jpg" alt="ニット">
                <div class="p-insta__mask">
                  #あったかカーディガン #自然派ニット #重ね着マスター #soulcherry
                </div>
              </div>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </section>

  <section>
    <div class="p-search">
      <div class="p-search__item">
        <div class="p-search__itemTitle">
          <p>● アイテムから探す</p>
        </div>
        <div class="p-search__itemWrap">
          <ul>
            <li>
              <a href="#">
                <img src="./assets/images/search/arrival.png" alt="新作">
              </a>
            </li>
            <li>
              <a href="#">
                <img src="./assets/images/search/all.png" alt="すべて">
              </a>
            </li>
            <li>
              <a href="#">
                <img src="./assets/images/search/outer.png" alt="アウター">
              </a>
            </li>
            <li>
              <a href="#">
                <img src="./assets/images/search/tops.png" alt="トップス">
              </a>
            </li>
            <li>
              <a href="#">
                <img src="./assets/images/search/shirt.png" alt="シャツ">
              </a>
            </li>
            <li>
              <a href="#">
                <img src="./assets/images/search/knit.png" alt="ニット">
              </a>
            </li>
            <li>
              <a href="#">
                <img src="./assets/images/search/vest.png" alt="ベスト">
              </a>
            </li>
            <li>
              <a href="#">
                <img src="./assets/images/search/pants.png" alt="パンツ">
              </a>
            </li>
            <li>
              <a href="#">
                <img src="./assets/images/search/setup.png" alt="セットアップ">
              </a>
            </li>
            <li>
              <a href="#">
                <img src="./assets/images/search/shoesItem.png" alt="くつ/雑貨">
              </a>
            </li>
            <li>
              <a href="#">
                <img src="./assets/images/search/sale.png" alt="セール">
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="p-search__size">
        <div class="p-search__itemTitle">
          <p>● サイズから探す</p>
        </div>
        <div class="p-search__sizeWrap">
          <ul>
            <li>
              <a href="#">
                <p>S</p>
              </a>
            </li>
            <li>
              <a href="#">
                <p>M</p>
              </a>
            </li>
            <li>
              <a href="#">
                <p>L</p>
              </a>
            </li>
            <li>
              <a href="#">
                <p>LL</p>
              </a>
            </li>
            <li>
              <a href="#">
                <p>3L</p>
              </a>
            </li>
            <li>
              <a href="#">
                <p>4L</p>
              </a>
            </li>
            <li>
              <a href="#">
                <p>5L</p>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </section>

  <div class="p-pageTop">
    <a href="#">
      <img src="./assets/images/pageTop.png" alt="ページトップ">
    </a>
  </div>
</main>

<% include src/ejs/template/_footer %>