.p-insta {
  width: 1024px;
  margin: 0 auto 160px;

  &__title {
    width: 653px;
    margin-bottom: 25px;
  }
  &__title img {
    width: 100%;
  }
  &__btn {
    margin-bottom: 42px;
  }
  &__btn a {
    font-size: 12px;
    color: #fff;
    background-color: #282828;
    border-radius: 5px;
    padding: 5px 10px;
    text-decoration: none;
  }
  &__listTAB {
    display: none;
  }
  &__list ul {
    width: 1024px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
  }
  &__list ul li {
    width: 230px;
    height: 230px;
    margin-right: 21px;
    margin-bottom: 21px;
  }
  &__list ul li .p-insta__item {
    width: 230px;
    height: 230px;
    position: relative;
    overflow: hidden;
  }
  &__list ul li .p-insta__item img {
    height: 100%;
    object-fit: cover;
  }
  &__mask {
    position: absolute;
    height: 100%;
    left: 0;
    top: 0;
    padding: 24px 30px;
    font-size: 14px;
    line-height: 1.8;
    letter-spacing: 1.5px;
    background: rgba(0,0,0,0.4);
    opacity: 0;
    transition:	all 0.2s ease;
    color: #fff;
  }
  &__list ul li:hover .p-insta__mask {
    opacity: 1;
  }
}

@media only screen and (max-width: 1023px) {
  .p-insta {
    width: 90vw;
    margin: 0 auto 150px;

    &__list {
      display: none;
    }
    &__title {
      width: 75vw;
      margin-bottom: 25px;
    }
    &__title img {
      width: 100%;
    }
    &__btn {
      margin-bottom: 42px;
    }
    &__btn a {
      font-size: 12px;
      color: #fff;
      background-color: #282828;
      border-radius: 5px;
      padding: 5px 10px;
      text-decoration: none;
    }
    &__listTAB {
      display: block;
    }
    &__listTAB ul {
      width: 100%;
      margin: 0 auto;
      display: flex;
      flex-wrap: wrap;
    }
    &__listTAB ul li {
      width: 29vw;
      height: 200px;
      margin-right: 1.5vw;
      margin-bottom: 15px;
      &:nth-child(3),
      &:nth-child(6),
      &:nth-child(9) {
        margin-right: 0;
      }
    }
    &__listTAB ul li .p-insta__item {
      position: relative;
      overflow: hidden;
      height: 100%;
      object-fit: cover;
      object-position: right;
    }
    &__listTAB ul li .p-insta__item img {
      height: 100%;
      object-fit: cover;
      object-position: right;
    }
    &__listTAB ul li .p-insta__item .p-insta__mask {
      position: absolute;
      height: 100%;
      left: 0;
      top: 0;
      padding: 8%;
      font-size: 1.4rem;
      line-height: 1.8;
      letter-spacing: 1.5px;
      background: rgba(0,0,0,0.4);
      opacity: 0;
      transition:	all 0.2s ease;
      color: #fff;
    }
    &__listTAB ul li:hover .p-insta__mask {
      opacity: 1;
    }
  }
}

@media only screen and (max-width: 649px) {
  .p-insta {
    margin: 0 auto 120px;

    &__title {
      width: 85vw;
      margin-bottom: 20px;
    }
    &__title img {
      width: 100%;
    }
    &__btn {
      margin-bottom: 30px;
    }
    &__listTAB {
      display: block;
    }
    &__listTAB ul {
      width: 90vw;
    }
    &__listTAB ul li {
      width: 28vw;
      height: 160px;
      margin-right: 3vw;
      margin-bottom: 15px;
      &:nth-child(3),
      &:nth-child(6),
      &:nth-child(9) {
        margin-right: 0;
      }
    }
  }
}

@media only screen and (max-width: 529px) {
  .p-insta {
    margin: 0 auto 100px;

    &__title {
      width: 85vw;
      margin-bottom: 20px;
    }
    &__title img {
      width: 100%;
    }
    &__btn {
      margin-bottom: 30px;
    }
    &__listTAB {
      display: block;
    }
    &__listTAB ul {
      width: 90vw;
    }
    &__listTAB ul li {
      width: 27vw;
      height: 120px;
      margin-right: 4.5vw;
      margin-bottom: 15px;
      &:nth-child(3),
      &:nth-child(6),
      &:nth-child(9) {
        margin-right: 0;
      }
    }
  }
}

@media only screen and (max-width: 399px) {
  .p-insta {
    margin: 0 auto 70px;

    &__listTAB ul li {
      width: 27vw;
      height: 90px;
      margin-right: 4.5vw;
      margin-bottom: 15px;
      &:nth-child(3),
      &:nth-child(6),
      &:nth-child(9) {
        margin-right: 0;
      }
    }
  }
}