.p-new {
  width: 1024px;
  margin: 0 auto 40px;

  &__title {
    width: 300px;
    margin-bottom: 37px;
  }
  &__title img {
    width: 100%;
  }
  &__slider {
    width: 1024px;
    margin: 0 auto 50px;
    float: left;
    height: 100%;
    min-height: 1px;
  }
  &__sliderTAB {
    display: none;
  }
  &__slider .slick-slide ul {
    display: flex;
    flex-wrap: wrap;
  }
  &__slider .slick-slide li {
    width: 320px;
    height: 370px;
    margin-right: 32px;
    &:nth-child(1) {
      margin-left: 0;
    }
    &:nth-child(3) {
      margin-right: 0;
    }
    &:nth-child(4) {
      margin-left: 0;
    }
    &:nth-child(6) {
      margin-right: 0;
    }
  }
  &__slider .slick-slide li img {
    width: 320px;
    height: 280px;
    margin-bottom: 16px;
    object-fit: cover;
    object-position: top;
  }
  &__slider .slick-slide li div {
    font-size: 15px;
    line-height: 1.4;
    letter-spacing: 1.5px;
    font-weight: bold;
  }
  &__prev {
    left: 430px;
    z-index: 39;
    position: absolute;
    display: block;
    width: 13px;
    line-height: 0px;
    font-size: 0px;
    cursor: pointer;
    background: transparent;
    color: transparent;
    bottom: -25px;
    padding: 0;
    border: none;
    outline: none;
  }
  &__next {
    right: 430px;
    z-index: 38;
    position: absolute;
    display: block;
    width: 13px;
    line-height: 0px;
    font-size: 0px;
    cursor: pointer;
    background: transparent;
    color: transparent;
    bottom: -25px;
    padding: 0;
    border: none;
    outline: none;
  }
}

@media only screen and (max-width: 1023px) {
  .p-new {
    width: 82vw;

    &__slider {
      display: none;
    }
    &__sliderTAB {
      display: block;
      width: 82vw;
      margin: 0 0 20px 0;
      float: left;
      height: 100%;
      min-height: 1px;
    }
    &__sliderTAB .slick-slide ul {
      display: flex;
      flex-wrap: wrap;
    }
    &__sliderTAB .slick-slide li {
      width: 40vw;
      height: 240px;
      margin-right: 2vw;
      margin-bottom: 60px;
      &:nth-child(1) {
        margin-left: 0;
      }
      &:nth-child(2) {
        margin-right: 0;
      }
      &:nth-child(3) {
        margin-left: 0;
      }
      &:nth-child(4) {
        margin-right: 0;
      }
    }
    &__sliderTAB .slick-slide li img {
      width: 40vw;
      height: 220px;
      margin-bottom: 16px;
      object-fit: cover;
      object-position: top;
    }
    &__sliderTAB .slick-slide li div {
      font-size: 15px;
      line-height: 1.4;
      letter-spacing: 1.5px;
      font-weight: bold;
    }
    &__prev {
      left: 30vw;
    }
    &__next {
      right: 30vw;
    }
  }
}

@media only screen and (max-width: 699px) {
  .p-new {
    width: 92vw;

    &__sliderTAB {
      display: block;
      width: 92vw;
      margin: 0 0 10px 0;
      float: left;
      height: 100%;
      min-height: 1px;
    }
    &__sliderTAB .slick-slide ul {
      display: flex;
      flex-wrap: wrap;
    }
    &__sliderTAB .slick-slide li {
      width: 44vw;
      height: 295px;
      margin-right: 4vw;
      margin-bottom: 50px;
    }
    &__sliderTAB .slick-slide li img {
      width: 44vw;
      height: 265px;
      margin-bottom: 16px;
      object-fit: cover;
      object-position: top;
    }
    &__sliderTAB .slick-slide li div {
      font-size: 15px;
      line-height: 1.4;
      letter-spacing: 1.5px;
      font-weight: bold;
    }
    &__prev {
      left: 30vw;
    }
    &__next {
      right: 30vw;
    }
  }
}

@media only screen and (max-width: 454px) {
  .p-new {
    &__title {
      width: 265px;
      margin-bottom: 30px;
    }
    &__sliderTAB .slick-slide li {
      width: 44vw;
      height: 205px;
      margin-right: 4vw;
      margin-bottom: 50px;
    }
    &__sliderTAB .slick-slide li img {
      width: 44vw;
      height: 180px;
      margin-bottom: 16px;
      object-fit: cover;
      object-position: top;
    }
    &__sliderTAB .slick-slide li div {
      font-size: 12px;
      line-height: 1.4;
      letter-spacing: 1.5px;
      font-weight: bold;
    }
    &__prev {
      left: 25vw;
    }
    &__next {
      right: 25vw;
    }
  }
}

@media only screen and (max-width: 389px) {
  .p-new {
    &__title {
      margin-bottom: 20px;
    }
    &__sliderTAB .slick-slide li {
      width: 44vw;
      height: 190px;
      margin-right: 4vw;
      margin-bottom: 30px;
      &:nth-child(1) {
        margin-left: 0;
      }
      &:nth-child(2) {
        margin-right: 0;
      }
      &:nth-child(3) {
        margin-left: 0;
      }
      &:nth-child(4) {
        margin-right: 0;
      }
    }
    &__sliderTAB .slick-slide li img {
      width: 44vw;
      height: 150px;
      margin-bottom: 16px;
      object-fit: cover;
      object-position: top;
    }
    &__sliderTAB .slick-slide li div {
      font-size: 11px;
      line-height: 1.4;
      letter-spacing: 0.5px;
      font-weight: bold;
    }
    &__prev {
      left: 18vw;
    }
    &__next {
      right: 18vw;
    }
  }
}

@media only screen and (max-width: 329px) {
  .p-new {
    &__sliderTAB .slick-slide li {
      width: 44vw;
      height: 155px;
      margin-right: 4vw;
      margin-bottom: 30px;
    }
    &__sliderTAB .slick-slide li img {
      width: 44vw;
      height: 127px;
      margin-bottom: 10px;
      object-fit: cover;
      object-position: top;
    }
    &__prev {
      left: 18vw;
    }
    &__next {
      right: 18vw;
    }
  }
}