.p-search {
  width: 1024px;
  margin: 0 auto 40px;

  &__itemTitle {
    width: 180px;
    display: flex;
    margin-bottom: 10px;
  }
  &__itemTitle p {
    font-size: large;
  }
  &__itemWrap {
    width: 100%;
    margin-bottom: 40px;
  }
  &__itemWrap ul {
    display: flex;
    flex-wrap: wrap;
  }
  &__itemWrap ul li {
    width: 70px;
    margin-right: 10px;
    margin-bottom: 10px;
    &:hover {
      opacity: 0.6;
    }
  }
  &__itemWrap ul .p-search__itemIcon {
    vertical-align: middle;
  }
  &__itemWrap ul .p-search__itemIconText p {
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    margin-top: 3px;
    margin-bottom: 8px;
  }

  &__sizeWrap {
    width: 100%;
  }
  &__sizeWrap ul {
    display: flex;
    flex-wrap: wrap;
  }
  &__sizeWrap ul li {
    width: 73px;
    margin-right: 10px;
    margin-bottom: 10px;
    &:hover {
      opacity: 0.6;
    }
  }
  &__sizeWrap ul li p {
    background: #666;
    text-align: center;
    color: white;
    font-size: large;
    font-weight: bold;
    border-radius: 0.5em;
    padding: 0.2em;
  }
}

.p-pageTop {
  width: 60px;
  margin: 0 auto 50px;
}

.p-pageTop img {
  width: 100%;
}

@media only screen and (max-width: 1023px) {
  .p-search {
    width: 90vw;
    margin: 0 auto 100px;

    &__itemTitle {
      width: 180px;
      display: flex;
      margin-bottom: 10px;
    }
    &__itemTitle p {
      font-size: large;
    }
    &__itemWrap {
      width: 90vw;
      margin-bottom: 40px;
    }
    &__itemWrap ul {
      margin: 0 auto;
      flex-wrap: wrap;
      display: flex;
    }
    &__itemWrap ul li {
      margin-right: 30px;
      width: 8vw;
      flex: none;
    }
    &__itemWrap ul li img {
      width: 8vw;
    }

    &__sizeWrap {
      width: 90vw;
    }
  }
}

@media only screen and (max-width: 699px) {
  .p-search {
    width: 90vw;
    margin: 0 auto 80px;

    &__itemWrap {
      width: 90vw;
      margin-bottom: 40px;
    }
    &__itemWrap ul {
      margin: 0 auto;
      flex-wrap: wrap;
      display: flex;
    }
    &__itemWrap ul li {
      margin-right: 1vw;
      width: 14vw;
      flex: none;
    }
    &__itemWrap ul li img {
      width: 100%;
    }
  }
}

@media only screen and (max-width: 449px) {
  .p-search {
    &__itemWrap ul li {
      margin-right: 1vw;
      width: 17vw;
      flex: none;
    }
    &__itemWrap ul li img {
      width: 100%;
    }
  }
}